@media screen and (max-width: 400px) {

  .input-number {
    /* border: 1px solid red; */
    width: 80%;
    padding-bottom: 20px;
    margin-left: 40px;
  }

  .input-flex {
    max-width: 250px;
  }

  h1 {
    max-width: 70%;
    margin-left: 36px;
    overflow: hidden;
  }

}